body {
    height: 98vh;
    background-color: oklch(21% 0.034 264.665);
    color: white;
    display: flex;
    flex-direction: column;
    margin: 5px;
    font-size: 1.1rem;
    letter-spacing: 0.05rem;
    font-family: 'Outfit', Tahoma, Geneva, Verdana, sans-serif;
}

.header {
    /* background-color: oklch(38.6% 0.063 188.416); */
    font-size: 3rem;
    padding: 10px 15px;
    font-weight: bold;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    color: oklch(86.9% 0.022 252.894);
    cursor: pointer;
    font-family:'Black Ops One', Tahoma, Geneva, Verdana, sans-serif;
}

.x-word {
    color: oklch(70.4% 0.14 182.503);
}

.o-word {
    color: oklch(68.5% 0.169 237.323);
}

.main {
    flex: 1;
    display: flex;
    flex-direction: column;
    padding-bottom: 50px;
}


.board-container {
    height: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
    /* padding: 20px;
    margin: 10px; */
}


.game-details {
    height: 30%;
    padding: 0px 400px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.win-lose-draw {
    margin-top: 10px;
    /* height: 10%; */
    text-align: center;
    margin-bottom: 10px;
    font-weight: bold;
    text-transform: uppercase;
}

.round-result {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    /* height: 60%; */
}

.round-result> * {
    flex-grow: 1;
    text-align: center;
    border-radius: 10px;
    background-color: oklch(51.1% 0.096 186.391);
}

.round-result > * > div:nth-of-type(1) {
    font-size: 0.9rem;
    padding-top: 5px;
}

.round-result > * > div:nth-of-type(2) {
    padding-bottom: 5px;
    font-size: 1.8rem;
    font-weight: bold;
    margin: 0;
}

.player2 {
    background-color: oklch(50% 0.134 242.749);
}

.draw {
    background-color: oklch(55.4% 0.046 257.417);
}

.buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin: 0;
    padding-bottom: 20px;
}

button {
    cursor: pointer;
    width: 10em;
    border-radius: 8px;
    padding: 8px 20px;
    font-size: 0.9rem;
    background-color: oklch(70.382% 0.04025 257.029 / 0.74);
    border: 1px solid oklch(70.382% 0.04025 257.029 / 0.74);
    color: white;
    /* font-weight: bold; */
}

button:hover {
    background-color: transparent;
    border: 1px solid oklch(55.4% 0.046 257.417);
}

button:active {
    background-color: oklch(39.1% 0.09 240.876);
    border: 1px solid oklch(39.1% 0.09 240.876);
}

button:disabled {
    cursor: not-allowed;
    background-color: oklch(45% 0.02 250);
    color: oklch(80% 0.01 250);
    border: 1px solid oklch(40% 0.01 250);
    opacity: 0.6;
}

.board {
    height: 21rem;
    width: 21rem;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
}

.board > * {
    height: 7rem;
    width: 7rem;
    border: 2px solid white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 6rem;
    cursor: pointer;
}

.board > *:hover {
    background-color: oklch(27.8% 0.033 256.848);
}

.corner-top-left {
    border-top: transparent;
    border-left: transparent;
}

.corner-top-right {
    border-top: transparent;
    border-right: transparent;
}

.corner-bottom-left {
    border-left: transparent;
    border-bottom: transparent;
}

.corner-bottom-right {
    border-bottom: transparent;
    border-right: transparent;
}

.top {
    border-top: transparent;
}

.left {
    border-left: transparent;
}

.right {
    border-right: transparent;
}

.bottom {
    border-bottom: transparent;
}

.footer {
    text-align: center;
    background-color: oklch(51.1% 0.096 186.391);
    font-size: 0.9rem;
    padding: 10px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    font-weight: 400;
}